#Product {
    background: url("/img/call-to-action.jpg") ;
    background-size: 100% ;
    background-attachment: fixed ;
    
    color: #fffafa;
    
    }
    h2 {
      color: #fdfdfd;
    }

    header {
      background: url("/img/bg.jpg");
      height: 900px;
      width: 100%;
      background-size: 100% ;
      background-attachment:fixed ;
      overflow: scroll;
      text-align: center;
    }

  .item {
      max-width: 480px; 
    margin: 0 auto;
     

    }

    .item img {
      width: 100%;
    }